services:
  backend:
    build: ./backend
    container_name: crop-backend
    ports:
      - "5000:5000"
    restart: unless-stopped

  frontend:
    build: ./frontend/cropmanager-frontend
    container_name: crop-frontend
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PORT=0
    depends_on:
      - backend
    restart: unless-stopped
